<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Developer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet" type="text/css"  href = "../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <h1>Add finished task</h1>
	<div class="col-md-4">
		<form th:object="${todoForm}" th:action="@{/add-todo-to-user(userId=${userId})}"
		      action="#" method="post">
            <input type="text" th:field="*{todoId}" name="todoId" class="form-control"
                placeholder="Title" />
            <div style="clear: both; display: block; height: 10px;"></div>
            <input type="text" th:field="*{description}" name ="description"
                class="form-control" placeholder="Description" />
            <div style="clear: both; display: block; height: 10px;"></div>
            <select class="form-control" name="todoTypeId" th:field="*{todoTypeId}">
                <option th:each="todoType : ${todoTypes}" 
                    th:value="${todoType.id}" 
                    th:text="${todoType.name}">Course</option>
            </select>
            <div style="clear: both; display: block; height: 10px;"></div>
            <a th:href="@{/users/progress-page/{id}/(id=${userId})}"><span class="btn btn-default">Back</span></a>
            <input type="submit" class="btn btn-success" value="Add task"/>
		</form>
	</div>
</body>
</html>
