.benefits {
    background-repeat: no-repeat;
    width: 20%;
    background-position: center bottom;
    background-size: 100% auto;
}
.benefits1 {
	background-image: url('/img/L1.svg');
}
.benefits2 {
    background-image: url('/img/L2.svg');
}
.benefits3 {
    background-image: url('/img/L3.svg');
}
.benefits4 {
    background-image: url('/img/L4.svg');
}
.benefits5 {
    background-image: url('/img/L5.svg');
}

.todos {
	background-repeat: no-repeat;
	background-position: top;
}
.todos1 {
	background-image: url('/img/F1.svg');
}
.todos2 {
    background-image: url('/img/F2.svg');
}
.todos3 {
    background-image: url('/img/F3.svg');
}
.todos4 {
    background-image: url('/img/F4.svg');
}
.todos5 {
    background-image: url('/img/F5.svg');
}
ul {
	list-style-type: none;
}