@CHARSET "ISO-8859-1";

.body{
	
	background-color: #ff33cc;
}

.users{
	overflow:auto;
	margin:auto;
	text-align:top;
font-size:14px;
	
	position: absolute;
	margin-left:10%;
	display:block;
	min-height:30em;
	
	
	
}

.users1 {
	overflow:auto;
	background-repeat:no-repeat;
	margin-left:5%;
	margin-top:40.1%;
	background-size:100% 100%;
	width:22%;
/* 	padding:0px 70px; */
/* 	width:20%; */
	
	z-index:-10;
	
}
.users2 {

    width:50%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:0px 0.8em;
	margin-left:19.5%;
	margin-top:40.1%;
	z-index:1000;

}

.users3 {
	width:22.5%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:39%;
	margin-top:40.1%;
	z-index:1000;
}
.users4 {
width:22.3%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:58.98%;
	margin-top:40.1%;
	z-index:1000;
}
.users5 {
	
	width:19.6%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	z-index:1000;
	margin-left:78.6%;
	margin-top:40.1%;
}
.header{

	width:99%;
	position:absolute;
	background-image:url('/images/Header.svg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
	background-position:top;
	height:20%;
}
.main_div{
	width:100%;
	
	
}
.level_name{
	color:blue;
	font-size:2em;

	
}
.body{
	
	width:100%;
}
/* .careerLevel{ */
/* 	display:inline-block; */
/* 	width:19.5%; */
/* 	text-align:center; */
	
/* } */
ul {
  list-style-type: none;
}
.benefitName {
	color:#003366;
	
	position:absolute;
	margin-top: 65%;
	width:80%;
/* 	margin-left:0%; */
	
	
}

.ben {
	
/* 	background: yellow; */
	margin-left:35%;
	position:absolute;
	margin-top:50%;
	color:white;
	font-size:1.5em;
/* 	margin-left: 37.5%; */
}
.cl_header{
   position:absolute;
  display: inline-block;
    margin-top:40%;
	color:#00284d;
	font-size:2em;
	margin-left:30%;
	 border-top: solid;
	  border-bottom: solid;
    border-width: 0em 0.2em 0m 1em;
}




.benefits{
	text-align:top;
	font-size:0.7em;
	background-size: 100% auto;
	
	position: absolute;
	
	display:block;
	min-height:38em;
	
}

.benefits1 {
	
	background-image:url('/images/L1.svg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	
	width:19%;
	margin-top:11.8%;
	margin-left:0%;
}
.benefits2 {
	width:19.60%;
	background-image:url('/images/L2.svg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-top:11%;
	margin-left:19%;
}
.benefits3 {
	width:20%;
	background-image:url('/images/L3.svg');
	background-repeat:no-repeat;
	background-size:100% 100%;
margin-top:10.4%;
	margin-left:38.6%;
}
.benefits4 {
	width:20.1%;
	background-image:url('/images/L4.svg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-top:9.9%;
	margin-left:58.6%;
}
.benefits5
 {
	width:20%;
	background-image:url('/images/L5.svg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-top:9.5%;
	margin-left:78.65%;
}
/* .todosName { */
/* 	color:#003366; */
	
/* 	position:absolute; */
	
/* 	width:80%; */
	
	
	
/* } */


.tod{
	margin-top:40%;
	color:white;
	margin-left:15%;
	font-size:1.5em;
	
}
.todos  {
	overflow:auto;
	margin:auto;
	text-align:top;
font-size:14px;
	
	position: absolute;
	margin-left:2%;
	display:block;
	min-height:30em;
	
}


.todos1 {
	overflow:auto;
	background-image:url('/images/F1m.svg');
	background-repeat:no-repeat;
	margin-left:0%;
	margin-top:60.1%;
	background-size:100% 100%;
	width:22%;
/* 	padding:0px 70px; */
/* 	width:20%; */
	
	z-index:-10;
	


	
	
}
.todos2 {

/* 	background-image:url('/images/F4m.svg'); */
/* 	background-repeat:no-repeat; */
/* /* 	background-size:100% 100%; */ */
/* 	width:22%; */
/* /* 	height:9%; */ */
/* /* 	padding:0px 70px; */ */
/* 	margin-left:19.5%; */
/* 	margin-top:65.5%; */
/* 	z-index:1000; */
    width:50%;
	background-image:url('/images/F4m.svg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:0px 0.8em;
	margin-left:19.5%;
	margin-top:60.1%;
	z-index:1000;

}

.todos3 {
	width:22.5%;
	background-image:url('/images/F3m.svg');
	background-repeat:no-repeat;
	background-size:100% 100%;
/* 	padding:0px 70px; */
	margin-left:39%;
	margin-top:60.1%;
	z-index:1000;
}
.todos4 {
width:22.3%;
	background-image:url('/images/F4m.svg');
	background-repeat:no-repeat;
	background-size:100% 100%;
/* 	padding:0px 70px; */
	margin-left:58.98%;
	margin-top:60.1%;
	z-index:1000;
}
.todos5 {
	
	width:19.6%;
	background-image:url('/images/F5m.svg');
	background-repeat:no-repeat;
	background-size:100% 100%;
/* padding:0px 70px; */
	z-index:1000;
	margin-left:78.6%;
	margin-top:60.1%;
}


.invisible-at-first {
	display: none;
}
.total_progress{
	
	
     display: block;  
  margin-right: auto;  
  margin-left: auto; 
 
	
}

 .t {
/*   border-bottom: 1px dotted #000000; */
  color: #000000; outline: none;
  cursor: help;
  text-decoration: none;
  position: relative;
}
.t span {
  margin-left: -999em;
  position: absolute;
}
.t:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
}
.t:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}

.t:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}

.c { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.i { background: #9FDAEE; border: 1px solid #2BB0D7;border-radius: 5px 5px; }

.logo{
	
	
	
	
}