@CHARSET "ISO-8859-1";
.arrow-down {
  width: 100%; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 20px solid #f00;
}
.body{
	
	background-color: #ff33cc;
	font-size:0;
}
.img{
	margin-top:10%;
    width: 50%;
    margin-left:25%;
    height: 200px;
    background-image: url('/images/Header.svg');
    background-size: 100% 100%;	
    margin-bottom:5%;
}
.careerLevel{
	height:115em;

}
.benefits{
	background-color:red;
	min-height:50%;
	
}
.varf{
	  width: 100%; 
  height: auto; 
  border-left: 10em solid transparent;
  border-right: 10em solid transparent;
  border-bottom: 5em solid #00ff80;
	
}
.top1{
	margin-top:12%;
    width: 100%;
    height: 120px;
    background-image: url('/images/l.svg');
    background-size: 100% 100%;			
	text-align:center;
					
}
.top2{
	margin-top:9%;
    width: 100%;
    height: 120px;
    background-image: url('/images/top2.svg');
    background-size: 100% 100%;			
	text-align:center;				
}
.top3{
	margin-top:6%;
    width: 100%;
    height:120px;
    background-repeat:no-repeat;
    background-image: url('/images/l.svg');
    background-size: 100% 100%;			
	text-align:center;	
	
		
}
.top4{
	margin-top:3%;
    width: 100%;
    height: 120px;
    background-image: url('/images/top2.svg');
    background-size: 100% 100%;			
	text-align:center;				
}
.top5{
	margin-top:0%;
    width: 100%;
    height: 120px;
    background-image: url('/images/l.svg');
    background-size: 100% 100%;			
	text-align:center;				
}


.cl_Name{	
	font: bold 3vh Castellar;
	text-align:center;
	color:#00284d;
	border-top: solid;
	border-bottom: solid;
	padding:7px;
	width:80%;
	margin-left:10%;
}
.ben_title{
	font: bold 20px Times New Roman;
	color:white;
	text-align:center;
}
.benefitName{
/* 	background-color:green; */
	font: 14px Times New Roman;
	
/* 	position:relative; */
}
ul {
  list-style-type: none;
}
.guys1{
    width: 100%;
    height: 200px;
    background-image: url('/images/guys.svg');
    background-size: 100% 100%;
}
.guys2{
    width: 100%;
    height: 200px;
    background-image: url('/images/guys2.svg');
    background-size: 100% 100%;
}
.guys3{
    width: 100%;
    height: 200px;
    background-image: url('/images/guys3.svg');
    background-size: 100% 100%;
}
.guys4{
    width: 100%;
    height: 200px;
    background-image: url('/images/guys4.svg');
    background-size: 100% 100%;
}
.guys5{
    width: 100%;
    height: 200px;
    background-image: url('/images/guys5.svg');
    background-size: 100% 100%;
}

.benefits1{
	
	background-color:#E83600;
}
.benefits2{
	min-height:50.5%;
	background-color:#FF6500;
}
.benefits3{
	min-height:51%;
	background-color:#E83600;
}
.benefits4{
	min-height:51.5%;
	background-color:#FF6500;
}
.benefits5{
	min-height:52%;
	background-color:#E83600;
}


.users{
/* 	background-color:yellow; */
	margin-top:10%;
	position:absolute;
}

/* .users1{ */
/* 	margin-top:60%; */
/* } */

/* .users2{ */
/* 	margin-top:60%; */
/* } */
/* .users3{ */
/* 	margin-top:60%; */
/* } */
/* .users4{ */
/* 	margin-top:23%; */
/* } */
/* .users5{ */
/* 	margin-top:30%; */
/* } */
.todos{
/* 	background-color:gray; */
	min-height:15%;
	margin-top:130%;
	font: 14px Times New Roman;
}
.tod-title{
font: bold 20px Times New Roman;
	color:white;
	text-align:center;
}
.todos1{
	  width: 100%;
    height: 100px;
    background-image: url('/images/F1.1.svg');
    background-size: 100% 100%;			

/* 	margin-top:50%; */
}
.todos2{
	  width: 100%;
    height: 120px;
    background-image: url('/images/F2.svg');
    background-size: 100% 100%;			

/* 	margin-top:59%; */
}
.todos3{
	  width: 100%;
    height: 120px;
    background-image: url('/images/F3.svg');
    background-size: 100% 100%;			

/* 	margin-top:68%; */
}

.todos4{
	  width: 100%;
    height: 120px;
    background-image: url('/images/F2.svg');
    background-size: 100% 100%;			

/* 	margin-top:72%; */
}
.todos5{
	  width: 100%;
    height: 120px;
    background-image: url('/images/F3.svg');
    background-size: 100% 100%;			

/* 	margin-top:72%; */
}

.invisible-at-first {
	display: none;
}
.total_progress{
	
	
     display: block;  
  margin-right: auto;  
  margin-left: auto; 
 
	
}
.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}
.mainselection {
/*   overflow:hidden; */
    width:200px;
/*     margin-left:35px; */

/*     background: url("images/dropdown_arrow.png") no-repeat #fff 319px 2px; */
    /* dropdown_arrow.png is a 31x28 image */
}
select {
    border:2px;
    background:transparent;
    height:32px;
    border:1px solid #d8d8d8;
    width:200px;
/*     -webkit-appearance: none; */
}

 .t {
/*   border-bottom: 1px dotted #000000; */
  color: #000000; outline: none;
  cursor: help;
  text-decoration: none;
  position: relative;
}
.t span {
  margin-left: -999em;
  position: absolute;
}
.t:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
}
.t:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}

.t:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}

.c { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.i { background: #9FDAEE; border: 1px solid #2BB0D7;border-radius: 5px 5px; }

.logo{
	
}