<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>HELLO</title>
</head>
<body>
    <table border="1">
    <tr>
        <th class="careerLevel" th:each="cl : ${careerLevels}"
                th:text="${cl.levelName}">
        </th>
    </tr>
    <tr>
        <td valign="top" th:each="bs : ${benefits}">
            <b>Benefits:</b>
            <ul><li class="benefitName" th:each="b : ${bs}" th:text="${b}">
            </li></ul>
        </td>
    </tr>
    <tr>
        <td valign="top" th:each="ts : ${todos}">
            <b>To do:</b>
            <ul><li class="task" th:each="t : ${ts}" th:text="${t}">
            </li></ul>
        </td>
    </tr>
    </table>
</body>
</html>
