<footer class="footer-distributed">

			<div class="footer-left">
			
 <a  href="#"><img class = "logo" th:src="@{/images/logo.png}"  
 height="130" width="130" /></a>
<!-- 				<h3>Company<span>logo</span></h3> -->

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a th:href="@{http://isd-soft.com/tech_blog/}">Blog</a>
<!-- 					· -->
<!-- 					<a href="#">Pricing</a> -->
<!-- 					· -->
<!-- 					<a href="#">About</a> -->
<!-- 					· -->
<!-- 					<a href="#">Faq</a> -->
<!-- 					· -->
<!-- 					<a href="#">Contact</a> -->
				</p>

				<p class="footer-company-name footer-company-about"><span>Copyright &copy; 2017, ISD. All rights reserved.</span> </p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Str. Fierarilor 2</span> Chisinau 2001MD, Moldova</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+373 22 996 170</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:isd@inthergroup.com">isd@inthergroup.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
				<br/>
					<span>About the company<br/>
					ISD executes Java projects. For a very reasonable price customer gains access to our team of skilled professionals.
				</span>
				</p>

				<div class="footer-icons">

					<a th:href="@{https://www.facebook.com/isdmoldova}"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>