<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset = "UTF-8"/>
<meta http-equiv = "X-UA-Compatible" content="IE-edge"/>
<meta name = "viewport" content="width=device-width, initial -scale =1"/>
<meta name =  "description" content = ""/>
<meta name = "author" content = ""/>
<title>Insert title here</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel = "stylesheet" type="text/css"  href = "../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel = "stylesheet" type="text/css"  href = "../static/css/style.css" th:href="@{/css/style.css}" />
<link rel = "stylesheet" type="text/css"  href = "../static/css/validation.css" th:href="@{/css/validation.css}" />
<!-- <script href="/js/handlebars.js" ></script> -->
<script type="text/javascript">
$('ul.nav li.dropdown').hover(function() {
	  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
	}, function() {
	  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
	});
</script>
</head>
<body>
<!-- <div class="container"> -->

<!--     <form class="well form-horizontal" action=" " method="post"  id="contact_form"> -->
<!-- <fieldset> -->

<!-- Form Name -->
<!-- <legend>Contact Us Today!</legend> -->

<!-- Text input -->

<!-- <div class="form-group"> -->
<!--   <label class="col-md-4 control-label">First Name</label>   -->
<!--   <div class="col-md-4 inputGroupContainer"> -->
<!--   <div class="input-group"> -->
<!--   <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
<!--   <input  name="first_name" placeholder="First Name" class="form-control"  type="text"/> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<!-- Text input -->

<!-- <div class="form-group"> -->
<!--   <label class="col-md-4 control-label" >Last Name</label>  -->
<!--     <div class="col-md-4 inputGroupContainer"> -->
<!--     <div class="input-group"> -->
<!--   <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
<!--   <input name="last_name" placeholder="Last Name" class="form-control"  type="text"/> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<!-- Text input -->
<!--        <div class="form-group"> -->
<!--   <label class="col-md-4 control-label">E-Mail</label>   -->
<!--     <div class="col-md-4 inputGroupContainer"> -->
<!--     <div class="input-group"> -->
<!--         <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> -->
<!--   <input name="email" placeholder="E-Mail Address" class="form-control"  type="text"/> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->


<!-- Text input -->
       
<!-- <div class="form-group"> -->
<!--   <label class="col-md-4 control-label">Phone #</label>   -->
<!--     <div class="col-md-4 inputGroupContainer"> -->
<!--     <div class="input-group"> -->
<!--         <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span> -->
<!--   <input name="phone" placeholder="(845)555-1212" class="form-control" type="text"/> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<!-- Text input -->
      
<!-- <div class="form-group"> -->
<!--   <label class="col-md-4 control-label">Address</label>   -->
<!--     <div class="col-md-4 inputGroupContainer"> -->
<!--     <div class="input-group"> -->
<!--         <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span> -->
<!--   <input name="address" placeholder="Address" class="form-control" type="text"/> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<!-- Text input -->
 
<!-- <div class="form-group"> -->
<!--   <label class="col-md-4 control-label">City</label>   -->
<!--     <div class="col-md-4 inputGroupContainer"> -->
<!--     <div class="input-group"> -->
<!--         <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span> -->
<!--   <input name="city" placeholder="city" class="form-control"  type="text"/> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<!-- Select Basic -->
   
<!-- <div class="form-group">  -->
<!--   <label class="col-md-4 control-label">State</label> -->
<!--     <div class="col-md-4 selectContainer"> -->
<!--     <div class="input-group"> -->
<!--         <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span> -->
<!--     <select name="state" class="form-control selectpicker" > -->
<!--       <option value=" " >Please select your state</option> -->
<!--       <option>Alabama</option> -->
<!--       <option>Alaska</option> -->
<!--       <option >Arizona</option> -->
<!--       <option >Arkansas</option> -->
<!--       <option >California</option> -->
<!--       <option >Colorado</option> -->
<!--       <option >Connecticut</option> -->
<!--       <option >Delaware</option> -->
<!--       <option >District of Columbia</option> -->
<!--       <option> Florida</option> -->
<!--       <option >Georgia</option> -->
<!--       <option >Hawaii</option> -->
<!--       <option >daho</option> -->
<!--       <option >Illinois</option> -->
<!--       <option >Indiana</option> -->
<!--       <option >Iowa</option> -->
<!--       <option> Kansas</option> -->
<!--       <option >Kentucky</option> -->
<!--       <option >Louisiana</option> -->
<!--       <option>Maine</option> -->
<!--       <option >Maryland</option> -->
<!--       <option> Mass</option> -->
<!--       <option >Michigan</option> -->
<!--       <option >Minnesota</option> -->
<!--       <option>Mississippi</option> -->
<!--       <option>Missouri</option> -->
<!--       <option>Montana</option> -->
<!--       <option>Nebraska</option> -->
<!--       <option>Nevada</option> -->
<!--       <option>New Hampshire</option> -->
<!--       <option>New Jersey</option> -->
<!--       <option>New Mexico</option> -->
<!--       <option>New York</option> -->
<!--       <option>North Carolina</option> -->
<!--       <option>North Dakota</option> -->
<!--       <option>Ohio</option> -->
<!--       <option>Oklahoma</option> -->
<!--       <option>Oregon</option> -->
<!--       <option>Pennsylvania</option> -->
<!--       <option>Rhode Island</option> -->
<!--       <option>South Carolina</option> -->
<!--       <option>South Dakota</option> -->
<!--       <option>Tennessee</option> -->
<!--       <option>Texas</option> -->
<!--       <option> Uttah</option> -->
<!--       <option>Vermont</option> -->
<!--       <option>Virginia</option> -->
<!--       <option >Washington</option> -->
<!--       <option >West Virginia</option> -->
<!--       <option>Wisconsin</option> -->
<!--       <option >Wyoming</option> -->
<!--     </select> -->
<!--   </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- Text input -->

<!-- <div class="form-group"> -->
<!--   <label class="col-md-4 control-label">Zip Code</label>   -->
<!--     <div class="col-md-4 inputGroupContainer"> -->
<!--     <div class="input-group"> -->
<!--         <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span> -->
<!--   <input name="zip" placeholder="Zip Code" class="form-control"  type="text"/> -->
<!--     </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- Text input -->
<!-- <div class="form-group"> -->
<!--   <label class="col-md-4 control-label">Website or domain name</label>   -->
<!--    <div class="col-md-4 inputGroupContainer"> -->
<!--     <div class="input-group"> -->
<!--         <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span> -->
<!--   <input name="website" placeholder="Website or domain name" class="form-control" type="text"/> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->


<!-- radio checks -->
<!--  <div class="form-group"> -->
<!--                         <label class="col-md-4 control-label">Do you have hosting?</label> -->
<!--                         <div class="col-md-4"> -->
<!--                             <div class="radio"> -->
<!--                                 <label> -->
<!--                                     <input type="radio" name="hosting" value="yes" /> Yes -->
<!--                                 </label> -->
<!--                             </div> -->
<!--                             <div class="radio"> -->
<!--                                 <label> -->
<!--                                     <input type="radio" name="hosting" value="no" /> No -->
<!--                                 </label> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->

<!-- Text area -->
  
<!-- <div class="form-group"> -->
<!--   <label class="col-md-4 control-label">Project Description</label> -->
<!--     <div class="col-md-4 inputGroupContainer"> -->
<!--     <div class="input-group"> -->
<!--         <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span> -->
<!--         	<textarea class="form-control" name="comment" placeholder="Project Description"></textarea> -->
<!--   </div> -->
<!--   </div> -->
<!-- </div> -->

<!-- Success message -->
<!-- <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div> -->

<!-- Button -->
<!-- <div class="form-group"> -->
<!--   <label class="col-md-4 control-label"></label> -->
<!--   <div class="col-md-4"> -->
<!--     <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button> -->
<!--   </div> -->
<!-- </div> -->

<!-- </fieldset> -->
<!-- </form> -->
<!-- </div> -->
<!-- <script type="text/javascript" th:src="@{/js/handlebars.js}"></script> -->
<!-- <div class="body-wrap"> -->
<!--   <div class="container"> -->
<!--     <nav class="navbar navbar-inverse" role="navigation"> -->
<!--       <div class="container-fluid"> -->
<!--         <div class="navbar-header"> -->
<!--           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> -->
<!--             <span class="sr-only">Toggle navigation</span> -->
<!--             <span class="icon-bar"></span> -->
<!--             <span class="icon-bar"></span> -->
<!--             <span class="icon-bar"></span> -->
<!--           </button> -->
<!--           <a class="navbar-brand" href="#">Brand</a> -->
<!--         </div> -->

<!--         Collect the nav links, forms, and other content for toggling -->
<!--         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
<!--           <ul class="nav navbar-nav"> -->
<!--             <li class="active"><a href="#">Link</a></li> -->
<!--             <li><a href="#">Link</a></li> -->
<!--             <li class="dropdown"> -->
<!--               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a> -->
<!--               <ul class="dropdown-menu"> -->
<!--                 <li><a href="#">Action</a></li> -->
<!--                 <li><a href="#">Another action</a></li> -->
<!--                 <li><a href="#">Something else here</a></li> -->
<!--                 <li class="divider"></li> -->
<!--                 <li><a href="#">Separated link</a></li> -->
<!--                 <li class="divider"></li> -->
<!--                 <li><a href="#">One more separated link</a></li> -->
<!--               </ul> -->
<!--             </li> -->
<!--           </ul> -->

<!--           <ul class="nav navbar-nav navbar-right"> -->
<!--             <li><a href="#">Link</a></li> -->
            
<!--             <li class="dropdown"> -->
<!--               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a> -->
<!--               <ul class="dropdown-menu"> -->
<!--                 <li><a href="#">Action</a></li> -->
<!--                 <li><a href="#">Another action</a></li> -->
<!--                 <li><a href="#">Something else here</a></li> -->
<!--                 <li class="divider"></li> -->
<!--                 <li><a href="#">Separated link</a></li> -->
<!--               </ul> -->
<!--             </li> -->
<!--           </ul> -->
<!--         </div> -->
<!--         /.navbar-collapse -->
<!--       </div> -->
<!--       /.container-fluid -->
<!--     </nav> -->
<!--   </div> -->
<!-- </div> -->



<!-- <div class="dropdown"> -->
<!--   <span>Mouse over me</span> -->
<!--   <div class="dropdown-content"> -->
<!--     <p>Hello World!</p> -->
<!--   </div> -->
<!-- </div> -->


<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

<form id="surveyForm" method="post" action="/">
    <div class="form-group">
        <label class="control-label">How do you know about us?</label>
        <div class="radio">
            <label><input type="radio" name="channel" value="google" /> Google</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="channel" value="github" /> Github</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="channel" value="twitter" /> Twitter</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="channel" value="facebook" /> Facebook</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="channel" value="developers" /> Developers</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="channel" value="other" /> Other</label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Please specify it:</label>
        <input type="text" class="form-control" name="otherChannel" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
<form action="" method="post">
    <fieldset>
        <legend>Booking Details</legend>
        <div>
            <label for="name">Name:</label>
            <input id="name" name="name" value="" required  pattern="[A-Za-z-0-9]+\s[A-Za-z-'0-9]+" aria-required="true" aria-describedby="name-format"/>
            <span id="name-format" class="help">Format: firstname lastname</span>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="" required aria-required="true"/>
        </div>
        <div>
            <label for="website">Website:</label>
            <input type="url" id="website" name="website" value=""/>
        </div>
        <div>
            <label for="numTickets"><abbr title="Number">No.</abbr> of Tickets:</label>
            <input type="number" id="numTickets" name="numTickets" value="" required aria-required="true" min="1" max="4"/>
        </div>
        <div class="submit">
            <input type="submit" value="Submit"/>
        </div>
    </fieldset>
</form>

<p class="text-center">
    <button class="btn btn-default" data-toggle="modal" data-target="#loginModal">Login</button>
</p>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Login</h5>
            </div>

            <div class="modal-body">
                <!-- The form is placed inside the body of modal -->
                <form id="loginForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">First Name</label>
                        <div class="col-xs-5">
      <input class="form-control" id="First Name" name="Last Name" value="" required  pattern="[a-zA-z]+[0-9]*([ '-][a-zA-Z]+)*" 
            aria-required="true" aria-describedby="name-format" placeholder="Name"/>                      
                        </div>        
                    </div>
                    
  <div class="form-group">
                        <label class="col-xs-3 control-label">Last Name</label>
                        <div class="col-xs-5">
      <input class="form-control" id="Last Name" name="Last Name" value="" required  pattern="[a-zA-z]+[0-9]*([ '-][a-zA-Z]+)*" 
            aria-required="true" aria-describedby="name-format" placeholder="Name"/>                      
                        </div>        
                    </div>   
                    
  <div class="form-group">
                        <label class="col-xs-3 control-label">Username</label>
                        <div class="col-xs-5">
      <input class="form-control" id="username" name="Last Name" value="" required  pattern="[a-zA-z]+[0-9]*([ '-][a-zA-Z]+)*" 
            aria-required="true" aria-describedby="name-format" placeholder="Name"/>                      
                        </div>        
                    </div>                                    
                    
   <div class="form-group">
                        <label class="col-xs-3 control-label">Email</label>
                        <div class="col-xs-5">
      <input class="form-control" id="Last Name" name="Last Name" value="" required  pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" 
            aria-required="true" aria-describedby="name-format" placeholder="email@example.com"/>                      
                        </div>        
                    </div>                  

        
<div class="form-group">        
     <label for="name" class="col-xs-3 control-label">CareerLevel</label>   
        <select  required>
  <option value="">Select an item</option>
   <option value="Internship">Internship</option>
    <option value="Baby on board">Baby on board</option>
    <option value="First steps">First steps</option> 
    <option value="You are good">You are good</option> 
    <option value="You are rock">You are rock</option> 
</select>
 </div>     
 
 <div class="form-group">
 <label class="col-xs-3 control-label">Group</label>
<select required name="group" id="input7">
    <option value="admin">Admin</option>
    <option value="user">User</option>                             
</select>
</div>  
 

<!--                     <div class="form-group"> -->
<!--                         <div class="col-xs-5 col-xs-offset-3"> -->
<!--                             <button type="submit" class="btn btn-primary">Login</button> -->
<!--                             <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
<!--                         </div> -->
<!--                     </div> -->
                    
                    <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>